/**
 * Structrural styles
 */
.container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 10px grey;
}
.search-placement {
  grid-column: 1 / 4;
  grid-row: 1;
}
.sidebar-placement {
  border-right: 1px solid grey;
  grid-column: 1;
  grid-row: 2 / 5;
  margin-bottom: 10px;
}
.results-placement {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
}
/**
 * Component styling
 */
.search-bar {
  background-color: #1c688e;
  display: flex;
}
.search-input {
  width: 90%;
  height: 50%;
  max-height: 35px;
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
}
.filter_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(20px, auto);
  text-align: left;
  width: 90%;
  margin: auto;
}
.filter_header {
  grid-column: 1 / 1;
  grid-row: 1;
  font-size: 1em;
}
.filter_option {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(15px, auto);
}
.option_title {
  text-align: left;
  font-size: 1em;
}
.hits {
  grid-column: 3;
  text-align: right;
  margin: 0 5px 0 0;
  font-size: 0.5em;
  line-height: 2.5;
  color: grey;
}
.filter_option button {
  grid-column: 1 / 3;
  width: 100%;
  border-radius: 2px;
  border-color: transparent;
  background: transparent;
}
.filter_option:hover, .filter_option:hover .option_title {
  background-color: teal;
  color: #fff;
}
.stars_button:hover, .stars:hover {
  background-color: #fff;
  color: #000;
}
.star {
  max-height: 15px;
  max-width: 15px;
}
