/**
 * Structrural styles
 */
.container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  background: white;
  box-shadow: 0 3px 10px grey;
}
.search-placement {
  grid-column: 1 / 4;
  grid-row: 1;
}
.sidebar-placement {
  border: 1px solid red;
  grid-column: 1;
  grid-row: 2 / 5;
}
.results-placement {
  border: 1px solid red;
  grid-column: 2 / 4;
  grid-row: 2 / 5;
}
/**
 * Component styling
 */
.search-bar {
  background-color: #1c688e;
  display: flex;
}

.search-input {
  width: 90%;
  height: 50%;
  max-height: 35px;
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
}