.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(20px, auto);
  margin: 2em 1em;
  text-align: left;
}
.results_header {
  grid-column: 1 / 5;
  grid-row: 1;
  font-size: 1em;
}
.results_time {
  font-size: 0.75em;
  color: grey;
}
.show_more_button {
  grid-column: 2/5;
  background: transparent;
  border-radius: 3px;
  border: 1px solid lightgray;
  height: 30px;
  color: gray;
}
.results_border {
  grid-column: 4 / 6;
  grid-row: 1;
  border-bottom: 1px solid lightgray;
}
.restaurant_result {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(20px, auto);
  font-size: 1em;
  padding: 15px;
}
.restaurant_result .restaurant_img {
  width: 90px;
  height: 90px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.restaurant_result span {
}
.restaurant_result a {
  vertical-align: top;
  color: #000;
  text-decoration: none;
}
.restaurant_img {
  grid-column: 1 / 2;

}
.restaurant_info {
  grid-column: 2 / 6;
}
.restaurant_title {
  font-weight: bold;
  font-weight: 1.1em;
  color: gray;
}
.restaurant_details {
  color: lightgray;
  font-size: 0.9em;
}
.stars_text.restaurant_details {
  color: gold;
}
.restaurant_rating {
  margin: 10px 0;
}
.restaurant_rating .restaurant_details {
  padding: 0 10px 0 0 ;
}
